/* 
    Created on : Aug 14, 2016, 9:36:29 AM
    Author     : Mahendra Tennakoon
*/

.close-button:hover {
    -fx-background-color: #CC0000;
    -fx-text-fill: #FFFFFF;
}
.close-button:armed {
    -fx-background-color: #B20000;
}
.pwd-reset-link {
    -fx-text-fill: #FFFFFF;
}
.pwd-reset-link:hover {
    -fx-text-fill: #FFFFFF;
    -fx-underline: true;
}